:root{
    font-family: Rubik;
    --transitionLength: 1s;
  }

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
html, body {
  height: 100%;
}

/* *************** */
#container{
  height: 100%;
  display: flex;
  /* overflow: hidden; */
}

#container-inner{
  background: gainsboro;
  padding: 1.5em;
  height: 100%;
  width: 100%;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-grid{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#grid{
  position: relative;
  display: grid;
  outline: 1px solid transparent;
  transition: outline var(--transitionLength) ease-out;
}

/* ************** */

#title, #instructions{
  text-align: center;
}

#title{
  font-size: 45px;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  font-weight: 800;
  margin-bottom: 1em;
}

form{
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 5px;
}
#instructions{
  font-size: 20px;
}

#heightinput{
  margin: 1em;
  background: magenta;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  border-radius: 1em;
  font-size: 10px;
  width: max-content
}

input[type="number"]{
  text-align: center;
  margin-left: 0.5em;
  width: 2.5em;
  font-size: 2em;
  background: white;
  -moz-appearance: textfield;
  border: none;
  border-radius: 5px;
}

#buttonBox{
  display: flex;
  justify-content: center;
  align-items: center;
  background: dodgerblue;
}

#button{
  font-size: 22px;
  cursor: pointer;
  padding: 0.8em;
  width: auto;
  margin: auto;
  border-radius: 1em;
  background: tomato;
  /* color: white; */
}

input[type="file"]{
  position: absolute; left: -99999rem;
}

.selectFileLabel{
  cursor: pointer;
  background: gold;
  padding: 1em;
  margin-top: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#image{
  width: 50vw;
}

#palette-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100vw;
  height: 200px;
}

.palette-colour{

}

#colour0{
  background: var(--colour0);
}
#colour1{
  background: var(--colour1);
}
#colour2{
  background: var(--colour2);
}
#colour3{
  background: var(--colour3);
}
#colour4{
  background: var(--colour4);
}
#colour5{
  background: var(--colour5);
}
#colour6{
  background: var(--colour6);
}
#colour7{
  background: var(--colour7);
}
#colour8{
  background: var(--colour8);
}
#colour9{
  background: var(--colour9);
}


@media(orientation: portrait){
  #container{
    flex-direction: column;
  }
}

@media(max-height: 815px) and (orientation: portrait){
  #title{
    font-size: 30px;
  }
}
