:root{
    font-family: Rubik;
    --transitionLength: 1s;
    --transitionType: cubic-bezier(0,.79,1,.81);
  }

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
html, body {
  height: 100%;
}

/* *************** */
#container{
  height: 100%;
  display: flex;
  overflow: hidden;
}

#container-inner{
  background: gainsboro;
  height: 100%;
  width: 100%;
  flex: 0 0 50%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
  
}

#labels-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
  /* width: 100%; */
}

#labels-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.label{
  background: rgba(255,255,255,0.75);
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  margin: 0.5em 0;
  position: relative;
  right: -220px;
  transition: right 1s var(--transitionType);
  z-index: 1;
  width: max-content;
}

#step-1-label{
  right: 0;
}

label{
  cursor: pointer;
}

.container-grid{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#grid{
  position: relative;
  display: grid;
  outline: 1px solid transparent;
  transition: outline var(--transitionLength) ease-out;
}

/* ************** */

#header{
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 3;
  width: 100%;
  bottom: 0;
  left: 0;
  background: black;
  color: white;
  padding: 1em;
  transition: left 3s ease-out;
  animation: intro 1s ease-out;
}

@keyframes intro {
  0%{
    bottom: 100%;
  }
  100%{
    bottom: 0;
  }
}

#title, #instructions{
  text-align: center;
}

#title{
  font-size: 45px;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  font-weight: 800;
}

#instructions{
  font-size: 20px;
}

input[type="number"]{
  text-align: center;
  margin-left: 0.5em;
  width: 2.5em;
  /* font-size: 2em; */
  background: white;
  -moz-appearance: textfield;
  border: none;
}

#buttonBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  all: unset;
  cursor: pointer;
}

input[type="file"]{
  position: absolute; left: -99999rem;
}

.selectFileLabel{
  cursor: pointer;
}

#image-container{
  width: 50%;
  height: 100%;
  object-fit: cover;
  background: red;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

#image{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.step{
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 1em;
  cursor: pointer;
  background: rgba(0,0,0,0.3);
  margin: 0.5em 0;
  position: relative;
  color: white;
  transition: left 1s var(--transitionType);
  z-index: 1;
  /* border: 1px solid white; */
}

.step:hover{
  box-shadow: -10px 10px 10px -7px rgba(0,0,0,0.65);
}

#step-1{
  display: grid;
  place-items: center;
}

#step-2, #step-3, #step-4{
  display: flex;
  justify-content: center;
  align-items: center;
  left: -200px;
}

#toggle-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  left: -200px;
}

.pixel{
  opacity: 0;
  position: relative;
}

.border{
  outline: 1px solid black;
}

.error-animation{
  animation: shake 0.35s 1;
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateY(50px) }
    50% { 
      transform: translateY(-50px);
      background: red;
      outline: 3px solid red;
      outline-offset: 15px;
    }
    75% { transform: translateY(50px) }
    100% { transform: translateX(0) }
  }


@media(orientation: portrait){
  #container{
    flex-direction: column;
  }
  #image-container{
    height: 50%;
    width: 100%;
  }
}

@media(max-height: 815px) and (orientation: portrait){
  #title{
    font-size: 30px;
  }
}
